<h3 class="static">
  <div>
    Two years ago I didn't even know there was such a thing as a programming language. Now, after nine months of studying web development on my own (with some help from friends), I've recently begun a series of classes in Rails development.
  </div>
  <br/>
  <div>
    This blog will serve as a way for me to catalog what I learn. In a way, it will function more like a journal. I don't expect very much interaction or discussion to take place, but these posts will serve as a personal repository of information, and as a means of personal encouragement (who doesn't like to look back on their work and see how much they've learned).
  </div>

</h3>
