

<%= div_for post do%>
  <h2 class="titles"><%= link_to_unless_current h(post.title), post %></h2>
  <%=h simple_format word_wrap(post.body, :line_width => 130) %>
  <h5>Posted <%= time_ago_in_words(post.created_at) %> ago</h5>
<% end %>



