<div id="title"><h1 id="title">Josh's Thoughts</h1></div>



<%= render :partial => @posts %>


<%= link_to 'New Post', new_post_path %>

<%#=h truncate(post.body, :length => 40) %>

<%#= render :partial => @posts %>