<div id="title"><h1 id="title">Riding on Rails</h1></div>
<h3 id="subtitle">My Journey into Web Development</h3>



<%= render :partial => @posts %>


<%= will_paginate @posts %><br/>
<%= link_to 'New Post', new_post_path %>




